<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Website where users can upload sound effects and sound design that they created. The sounds are related to Horror Media. That could be creepy ambient noises. Or it could be Creature sounds, or any other SFX that could be in a horror movie, game, audiobook.">
    <title>Sounds Spooky</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/icons8-horror-32.png" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Butcherman&family=Creepster&family=Eater&family=Frijole&family=Indie+Flower&family=Lacquer&family=Metal+Mania&family=Nosifer&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500&family=Russo+One&display=swap"
        rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />

    <!-- custom css  -->
    <link rel="stylesheet" href="/css/style.css" />


</head>

<body>
    <header class="container">
        <div class="text-center title-flicker">
            <h1 class=" flicker-card" title="Return to your Profile"><a href="/profile">Sounds Spooky</a></h1>
            <img src="/imgs/icons8-horror-64.png" alt="ghost with Mic" id="main-img">
            <br>

        </div>

    </header>
<script type="module">
    import { VFX } from 'https://cdn.jsdelivr.net/npm/@vfx-js/core/+esm';

    window.onload = function() {
    const img = document.querySelector('#main-img');

    if (img) {
        const vfx = new VFX();
        vfx.add(img, { shader: "rgbShift" });
    }}
</script>
</body>

</html>