<%- include('partials/header2') -%>
<body id="about-page">
    <main class="container index-img">
        <div class="row justify-content-around mt-5">
            
           


           
            
            <div class="row justify-content-center mt-3 box-bg">
                <span class="text-center mt-5"><p>This is a site where you can upload your own Sounds, Sound design, and Creature sounds that you created and share with others who love Horror movies, music and games.</p>
                    <p>Create an account using your email or sign in with a google account. Once signed in you can begin uploading your audio.</p>
                    <p>The site accepts .wav, .mp3 and .aac audio formats. For now, the file size limit is 10MB and the audio length is cutoff at 30 seconds.</p>
                    <p>You can choose the audio category and whether you want to file to be public for other users to see or private to your own profile.</p>
                </span>
                
                <a href="/" class="col-2 btn btn-primary">Go back</a>
                
            </div>
        </div>
    </main>
</body>