<%- include('partials/header2') -%>
<body id="about-page">
    <main class="container index-img">
        <div class="row justify-content-around mt-5">
            
           


           
            
            <div class="row justify-content-center mt-3 box-bg">
                <span class="text-center mt-5">This is a site where you can upload your own Sounds, Sound design, and Creature sounds that you created and share with others who love Horror movies, music and games.</span>
                
                <a href="/" class="col-3 btn btn-primary">Go back to Main Page</a>
            </div>
        </div>
    </main>
</body>