<%- include('partials/header2') -%>
  <main class="container">
    <div class="row justify-content-center signup-form">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <div class="delete-info">
                          <h2>Delete your Profile</h2>
                          <h5>Enter your account password to cofirm you want to fully delete your profile</h5>
                        </div>
                        <br>
                        <form action="/deleteProfile" method="POST">
                          <div class="mb-3">

                            <div class="mb-3">
                              <label for="password" class="form-label">Password</label>
                              <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <div class="mb-3">
                              <label for="confirmPassword" class="form-label">Confirm Password</label>
                              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                            </div>
                            <button type="submit" class="btn btn-danger">Delete Profile</button>
                            <div class="form-text">This action cannot be undone</div>
                        </form>
      </section>
    </div>
  </main>

  <%- include('partials/footer') -%>