<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <!-- <a href="/post/<%= posts[i]._id%>"> -->

            <audio controls>
              <source src="<%= posts.audio %>" type="audio">
            </audio>
            <!-- </a> -->

          </li>
          <% } %>
      </ul>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/profile">Return to Profile</a>
      </div>
    </div>
  </div>
  <!-- <%- include('partials/footer') -%> -->