<%- include('partials/header2') -%>

    <body id="index-page">
        <main class="container index-img">
            <div class="row justify-content-around mt-5">
                <a href="/login" class="col-3 btn btn-primary"> Login</a>
                <span class=" mt-2 custom-link"><a href="/auth/reset-password" class="btn btn-link mb-4 ">Forgot
                        Password?</a></span>


                <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
                <span class=" mt-2 custom-link"><a href="/about" class="btn btn-link mb-4 ">Questions about this site?</a></span>
                <div class="row justify-content-around mt-3">
                    <span class="text-center mt-5">Other Options:</span>
                    <div class="row justify-content-around">
                        <a href="/auth/google" class="btn btn-danger google mt-2">
                            <i class="fab fa-google left"></i>
                            Log In With Google --Request to be a Test User!
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>