<%- include('partials/header') -%>

    <body id="index-page">
        <main class="container index-img">
            <div class="row justify-content-around mt-5">
                <a href="/login" class="col-3 btn btn-primary"> Login</a>



                <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
                <div class="row justify-content-around mt-3">
                    <span class="text-center mb-5">Other Options:</span>
                    <div class="row justify-content-around">
                        <a href="/auth/google" class="btn btn-danger google">
                            <i class="fab fa-google left"></i>
                            Log In With Google --Coming Soon!
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>