<%- include('partials/header2') -%>

  <main class="container">
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger alert-mobile">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <form action="/login" method="POST">
                          <div class="mb-3 login-box">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" name="email" />
                          </div>
                          <div class="mb-3 login-box position-relative">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <div class="">
                              <input type="password" class="form-control" id="password-field" name="password" />
                              <span toggle="#password-field"
                                class="fa fa-fw fa-eye-slash fa-lg  field-icon toggle-password"></span>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
      </section>

    </div>
    <script src="/js/reveal-pw.js"></script>
  </main>