<%- include('partials/header2') -%>
  <main class="container">
    <div class="row justify-content-center signup-form">
      <section class="col-6 mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <form action="/reset-password-initiate" method="POST">
                          <h2 class='alert alert-danger wip'>This is a work in progress and is not functional yet.</h2>

                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                              aria-describedby="emailHelp" name="email">

                          </div>
                          <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                          </div>
                          <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
      </section>
    </div>
  </main>

  <%- include('partials/footer') -%>