/* .btn {
  background: #1054dd;
} */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Creepster', 'Roboto', sans-serif;
  font-size: 5em;
  text-shadow: 0 0 7px #73e6e6;
}

.add-post {
  text-decoration: underline #00bc8c;
  padding-bottom: 18px;
}

#main-img {
  width: 7%;
  padding-bottom: 20px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 20px;
  padding: 10px 0 20px 0;
  border-top: 2px ridge #00bc8c;
}

.glow-text  {
 text-shadow: 0 0 22px #00bc8c;

}






/* h1,
.text-center {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    rgba(16, 84, 221, 1) 35%,
    rgba(234, 242, 244, 1) 100%
  );
} */

