
html {
  scroll-behavior: smooth;
  
}

audio {
  border: 5px solid #00bc8c;
  border-radius: 40px;
  
}

a {
  text-decoration: none;
  cursor:url(../imgs/ghost-icon-34.png), pointer;
  
}

a:hover {
  color: #00bc8c;
}

p {
  padding-top: 10px;
}

h1 {
  font-family: 'Creepster', 'Roboto', sans-serif;
  font-size: 5em;
  text-shadow: 0 0 7px #73e6e6;
}

.btn {
  cursor: url(../imgs/icons8-white-edit.png), pointer !important;
}



.add-post  {
  text-decoration: underline #00bc8c;
  text-underline-offset: 10px;
  padding-bottom: 32px;
}

#your-sfx {
  padding: 20px 0 10px 170px;
  border-bottom: 3px solid #00bc8c;
}



#main-img {
  width: 7%;
  padding-bottom: 20px;
  filter: drop-shadow(1px 3px #00bc8c);
}

#index-page {
  background: url(../imgs/creepy-hallway.jpg) no-repeat;
  background-size:cover;
  background-position: 10% 31%;  
}
#post-page {
  background: url(../imgs/treesbg.jpg) no-repeat;
  background-size:cover;
  background-position: 10% 21%;  
  opacity: .9;
}


footer {
  display: flex;
  justify-content: center;
  font-size: large;
  margin-top: 20px;
  padding: 10px 0 20px 0;
  /* border-top: 2px ridge #00bc8c; */
}

.glow-text  {
 text-shadow: 0 0 22px #00bc8c;

}

.add-pad {
  padding-top: 30px;
}

.fa-heart, .fa-trash {
  margin-top: 30px;
}

.google {
  width: 50%;
}

.sound-choice {
  font-size: 20px;
}

.share-feed {
  border-bottom: 3px solid #00bc8c;
  padding: 10px 0;
  
}

.pr-5 {
  padding-left: 40px;
}

.shared-posts audio {
  border: 5px solid #73e6e6;
  border-radius: 40px;
}
.glow-share{
  text-shadow: 0 10px 22px #73e6e6;
}

#shared {
  background: #212121;
 color: #29a19c;
 margin-left: 30px;
  width: 185px;
  padding: 5px 0px 5px 15px;
  font-size: 19px;
  border: 2px solid #29a19c;
  height: 45px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../imgs/ghost-edit.png) 96% / 15% no-repeat #212121;
  
  
}

#audio-category {
  background: #212121;
 color: #c1f5e8;
 margin: 30px;
  width: 185px;
  padding: 5px 35px 5px 5px;
  font-size: 19px;
  border: 2px solid #00bc8c;
  height: 45px;
  border-radius: 6px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../imgs/icons8-horror-64.png) 96% / 15% no-repeat #212121;
  
  
}

#audio-category::after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

#audio-category select {
  display: none;
}



#trash {
  margin-right: 120px;
}

#comment, .err-sizing {
  width: 45%;
}

#view-sound {
  border-radius: 15%;
  background: #73e6e6;
  opacity: .6;
  color: #212121;
  
}

#post-title {
  display: inline;
 
 font-family: 'creepster';
 font-size: 1.7em;
 font-style: oblique;
}

.category-text {
  color: #73e6e6;
  font-weight: bolder;
 

}

.btn-close {
  color: #212121;
  
}

.custom-link {
  text-align: center;
  
}

.btn-link {
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline;
}



.box-bg {
  border: 1px ridge #29a19c;
  background:#212121;
  padding-right: 10px;
  margin-right: 160px;
   

  
}

.desc-box {
  border: 1px ridge #00bc8c;
  background:#212121;
  padding: 20px 0 0 40px;
  min-height: 200px;
  margin-right: 35px;
  
  
}

.btn-outline-danger {
  margin-top: 25px;
}


/* Mobile Queries ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media only screen and (max-width : 820px) {
  #index-page {
   
    background: url(../imgs/creepy-hallway.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 44%;

  
  }

  #your-sfx {
    font-size: 2em;
    padding: 0 0 15px 0
  }

  #shared {
    margin-bottom: 15px;
    
  }

  .box-bg {
    max-width: 100%;
    margin-right:  40px;
    /* padding-right: 20px; */
    
  }

  .desc-box {
    padding-left: 10px;
  }

  .fa-trash {
    position: relative;
    left: 130px;
  }

  .likes {
    font-size: 1.6em;
    padding-left: 30px;
  }

  audio {
    width: 100%;
  }

  footer {
    padding-top: 250px;
    font-size: 1.3em;
  }

 
}

@media screen and (max-width: 420px) {
#index-page {
   
    background: url(../imgs/creepy-hallway.jpg) no-repeat;
    background-size: cover;
    background-position: 40% ;
    height: 100vh;
    }
    #main-img {
      height: 9vh;
      width: 15%;
    }

    .btn-primary {
      width: 60%;
    }

    .google {
      width: 60%;
    }

    .profile-btn {
      margin-bottom: 65px;
      
    }

     .login-box {
      width: 130%;
     }

    .signup-form {
      width: 40rem;
      padding-right: 200px;
    }

    

    #logo {
      width: 40%;
      border: 1px solid red;
    }

    #your-sfx {
      padding-top: 1em;
    }

    #shared {
    margin-bottom: 30px;
    
  }

    .box-bg, .desc-box {
      padding-left: 20px;
      margin-left: 39px;
    }

    .fa-trash {
      width: 60%;
      padding-right: 20px;
     
      
    }

    .fa-heart {
      padding-left: 30px;
      font-size: larger;
      
    }

    .fa-heart::before {
      position: relative;
      right: 19px;
      
    }

    footer {
      padding: 30px 0 ;
      font-size: .8em;
    }
}
  







